file:///{{ .chezmoi.homeDir }}/files/Bilder
file:///{{ .chezmoi.homeDir }}/files/Downloads
file:///{{ .chezmoi.homeDir }}/files/Dokumente
file:///{{ .chezmoi.homeDir }}/files/Code
file:///{{ .chezmoi.homeDir }}/files/Games
file:///{{ .chezmoi.homeDir }}/files/Videos
file:///{{ .chezmoi.homeDir }}/.config
